body {
  margin: 0;
}

#__next {
  margin: 0;
}

@media (min-width: 1020px) {
  .lbh-header__service-name {
    margin-left: 1em;
  }
}

.lbh-cookie-banner {
  .js-enabled & {
    top: auto;
    bottom: 0;
  }
}

.lbh-\!-margin-top-0 {
  margin-top: 0 !important;
}

.lbh-\!-font-weight-bold {
  font-weight: bold !important;
}

.lbh-caption-xl {
  @include lbh-heading-h1;
  color: #525a5b;
  margin-top: 0.2em;
}

// .lbh-body-m,
// .lbh-table,
// .lbh-input,
// .lbh-list {
//   font-weight: 400;
// }

// @mixin lbh-body-m {
//   @include lbh-font;
//   color: $lbh-text-colour;
//   @include lbh-rem(font-size, 16);
//   font-weight: $lbh-font-weight-regular;
//   @include lbh-rem(line-height, 26);

//   @include govuk-media-query($from: tablet) {
//     @include lbh-rem(font-size, 19);
//     @include lbh-rem(line-height, 30);
//   }
// }
