body {
  margin: 0;
}

#__next {
  margin: 0;
}

@media (min-width: 1020px) {
  .lbh-header__service-name {
    margin-left: 1em;
  }
}

.lbh-cookie-banner {
  .js-enabled & {
    top: auto;
    bottom: 0;
  }
}

.lbh-dialog__close {
  margin-top: 0;
  right: 0;
  top: 0;
  padding: 15px;
}

.lbh-footer {
  background-color: #f8f8f8;
  padding-top: 2rem;
  padding-bottom: 5rem;
}
