.lbh-link-group {
  border-bottom: 1px solid #0b0c0c;

  &.lbh-link-group--spaced {
    margin-bottom: 4em;
  }

  .lbh-link {
    margin-top: 1em;
    margin-right: 1em;
    text-decoration: none;

    &.active {
      color: #0b0c0c;
      border-bottom: 5px solid #025ea6;
    }

    &:focus {
      box-shadow: none;
      border-bottom: 5px solid #025ea6;
    }
  }
}
